# virtualenv
/bin
/lib
pyvenv.cfg
# exclude pdf
*.pdf
# exclude bytecode folder
/src/__pycache__
/src/functions/__pycache__
/src/widgets/__pycache__
#exclude build folders
/build
/dist
/pdf_merger.egg-info